# npm
node_modules/
package-lock.json
yarn.lock
bun.lock
pnpm-lock.yaml

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


# Build
dist/

# Env files
.zed
.env
.env.local
.wireit/